{% extends 'base.html' %} {% block content %}
<h1 class="mx-4 my-4">Player Details</h1>
<div class="container">
  <br />
  <div class="col">
    <h4>
      Name:
      <span class="fw-light">{{ player.name }}</span>
    </h4>
    <h4>
      Country:
      <span class="fw-light">{{ player.get_country_display }}</span>
    </h4>
    {% if player.age == None %}
    <h4>
      Age:
      <span class="fw-light">Unknown or deceased</span>
    </h4>
    {% else %}
    <h4>
      Age:
      <span class="fw-light">{{ player.age }}</span>
    </h4>
    {% endif %}
  </div>
  <br />
  <br />
  <div class="col">
    <a class="btn btn-primary" href="{% url 'player_update' player.id%}">
      Edit
    </a>
    <a class="btn btn-danger mx-4" href="/players/">Go Back</a>
    <form action="{% url 'player_delete' player.id %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-outline-danger float-end" type="submit">
        Delete
      </button>
    </form>
  </div>
</div>
{% endblock %}
