{% extends 'base.html' %} {% block content %}
<h1 class="mx-4 my-4">Player Details</h1>
<div class="container">
  <br />
  <div class="col">
    <h3>
      Name:
      <span class="fw-light">{{ player.name }}</span>
    </h3>
    <h3>
      Country:
      <span class="fw-light">{{ player.get_country_display }}</span>
    </h3>
    {% if player.age == None %}
    <h3>
      Age:
      <span class="fw-light">Unknown or deceased</span>
    </h3>
    {% else %}
    <h3>
      Age:
      <span class="fw-light">{{ player.age }}</span>
    </h3>
    {% endif %}
  </div>
  <br />
  <br />
  <div class="col">
    <a class="btn btn-primary" href="{% url 'player_update' player.id%}">
      Edit
    </a>
    <a class="btn btn-danger mx-4" href="/players/">Go Back</a>
    <a class="btn btn-outline-danger float-end" href="#">Delete</a>
  </div>
</div>
{% endblock %}
