{% extends 'base.html' %} {% block content %}
<div class="container col-md-8 offset-2">
  <!-- ========================================= -->
  <!-- Details -->
  <!-- ========================================= -->
  <div class="row">
    <h2 class="py-4">Details</h2>
    <h4>{{ guitar.brand }}</h4>
    <div class="">
      <h6>Type: {{ guitar.get_kind_display }}</h6>
      <h6>Model: {{ guitar.model }}</h6>
      {% if guitar.released %}
      <h6>Released</h6>
      {% else %}
      <h6>Not yet released</h6>
      {% endif %}
    </div>
  </div>
  <br />
  <br />
  <!-- ========================================= -->
  <!-- Reviews -->
  <!-- ========================================= -->
  <div class="row">
    <div class="col">
      <table class="table text-light">
        <thead>
          <tr>
            <td><strong>Rating</strong></td>
            <td><strong>Review</strong></td>
            <td><strong>Date</strong></td>
          </tr>
        </thead>
        {% if guitar.review_set.count %} {% for rev in guitar.review_set.all%}
        <tbody>
          <tr>
            <td>{{rev.rating}}</td>
            <td>{{rev.review}}</td>
            <td>{{rev.date}}</td>
          </tr>
        </tbody>
        {% endfor %}
        </table>
        {% else %}
      </table>
      <p>Tell us what you think about this axe!</p>
      {% endif %}
    </div>
    <div class="col form-group">
      <form action="{% url 'add_review' guitar.id %}" method="POST">
        {% csrf_token %} {{review_form.as_p}}
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary" type="submit">
            Add A Review
            </button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <br />

  <!-- ========================================= -->
  <!-- Buttons -->
  <!-- ========================================= -->
  <div class="clearfix">
    <a class="col-2 mx-2 btn btn-danger" href="/guitars/">Go Back</a>
    <a class="col-2 mx-2 btn btn-primary" href="{% url 'gtr_update' guitar.id  %}">
      Edit
    </a>
    <a class="col-2 btn btn-outline-danger float-end" href="{% url 'gtr_delete' guitar.id  %}">
      Delete
    </a>
  </div>
</div>
{% endblock content %}
